# Configuration for DIA_MS2pep_runner.sh

MS2pepCodedir = "/cygdrive/e/HJJ/Scripts/DIA-MS2pep_code"        	# Path to DIA-MS2pep 
filelist = "Hela1ug_QC_Middle_DIA_10Da_150226_01.raw"
# If you have multiple raw data to be analyzed, please set `filelist` as:
# filelist="dome_DIA_1.raw demo_DIA_2.raw ... demo_DIA_n.raw"
# 

# parameters for DIA-MS2pep 
ms1ppm = 20  															# precursor mass tolerance
ms2ppm = 50 															# fragment mass tolerance

fasta = uniprot-proteome_Human_20200310_no_Fragment_iRTpeptides.decoy_target.fasta 	# Path to the protein database file in FASTA format, combined target and decoy protein sequences.

# MSFragger 
MSFragger_search_engine = MSFragger-2.4.jar 							# Path to MSFragger search tool, download web site :https://msfragger.arsci.com/upgrader/
MSFragger_search_params = msfragger_open_search.params 	    			# Path to the parameter file of MSFragger

# DIA data with peptide modification
PTM = 0 																# set to 1 if the sample is enriched with modified peptides, like phosphorylated peptides

# Peptide modification searching 
modification_search = 1 												# set to 1, wide precursor mass tolerance [-150, 500] is used when data-searched with MSFragger 


# parallel processing
max_processes = 10






